header {
    .box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: #353434;
        height: 500px;
        padding-top:10px;
        padding-bottom: 40px;
        padding-left: 120px;
        padding-right:120px;

        
        h1{
            margin: 0 auto;
            margin-bottom: 40px;
            width: 600px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            color: white;
        }
    
        p{
            margin:0 auto;
            position: absolute;
            width: 482px;
            height: 32px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: #CECDCD;
        }

        .pull-quote {
            margin: 0 auto;
            margin-top: 320px;
            margin-left: 120px;
            display: flex;
            height: 600px;
            width: 600px;
        }
    } 
}
