.hireMe {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top:80px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right:120px;

    h3 {
        margin-bottom: 35px;
        font-family: Poppins;
        font-weight: 800;
        font-size: 25px;
        color: #212121; 
        display: flex;
        justify-content: center; 
    }

    .cta {
        display: flex;
        justify-content: center;
    }

    .hire-cta {
        width: 200px;
        height: 50px;
        margin-bottom: 45px;
        background-color:#2B7370;
        ;
        color: white;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 800;
        border-radius: 30px;
        border: 1px solid #2B7370;
    }
}