
@mixin about-mobile(){
    .about {
        height:660px;
        padding-top:35px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right:15px;
    }

    .about h1 {
        margin-bottom: 10px !important;
        font-size: 25px !important;
        padding-left: 0px;
    }

    .about-content {
        display: flex !important;
        flex-direction: column !important;
        justify-items: center !important;
    }
    
    .about p {
        width: 250px !important;
        height: auto !important;
        font-size: 10px !important;
        padding-left: 20px !important;
        padding-top: 5px;
        
    }

    .about img {
        height: 100% !important;
        width: 100% !important;
        padding: 20px;
    }
}

@mixin about-tablet(){
    .about {
        height:300px;
        padding-top:35px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right:50px;
    }

    .about h1 {
        margin-bottom: 25px !important;
        font-size: 25px !important;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about p {
        width: 300px;
        font-size: 10px !important;
        height: auto !important;
    }

    .about img {
        height: 33%;
        width: 33%;
    }
}

@mixin about-laptop(){
    .about {
        height:390px;
        padding-top:50px;
        padding-bottom: 40px;
        padding-left: 100px;
        padding-right:100px;
    }

    .about h1 {
        margin-bottom: 35px !important;
        font-size: 40px !important;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about p {
        width: 400px;
        font-size: 12px !important;
        height: auto !important;
    }

    .about img {
        height: 33%;
        width: 33%;
    }
}

@mixin about-desktop(){
    .about {
        height:550px;
        padding-top:80px;
        padding-bottom: 40px;
        padding-left: 110px;
        padding-right:110px;
    }

    .about h1 {
        margin-bottom: 45px !important;
        font-size: 40px !important;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about p {
        width: 500px;
        height: auto !important;
    }

    .about img {
        height: 33%;
        width: 33%;
    }
}


//default: same on all devices rules
.about {
    background-color: #353434;
    margin: 0 auto;

h1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    p {
        color: white;
    }

    a {
        color: #FBF781;
    }

    img {
        height: 33%;
        width: 33%;
    }
}
}


