
@mixin about-mobile(){
    .about {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .about h1 {
        margin-bottom: 8%;
        margin-left: 0px;
        font-size: 150%; 
    }

    .about-content {
        display: flex !important;
        flex-direction: column !important;
        justify-items: center;
    }
    
    .about p {
        margin: 0 auto;
        margin-bottom: 0%;
        width: auto;    
        font-size: 12px;
        line-height: 20px;
        padding-left: 0px;
        
    }

    .about img {
        margin-bottom: 8%;
        width: 100% !important;
        padding: 0px;
    }
}

@mixin about-tablet(){
    .about {
        height: 370px;
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .about h1 {
        margin-bottom: 3%;
        margin-left: 0px;
        font-size: 150%; 
    }

    .about-content {
        display: flex !important;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about p {
        height: 90%;
        margin-bottom: 0%;
        width: 45%;    
        font-size: 52%;
        line-height: 16px;
        padding-left: 0px;
    }

    .about img {
        margin-bottom: 8%;
        width: 45% !important;
        padding: 0px;
    }
}

@mixin about-laptop(){
    .about {
        height: 450px;
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .about h1 {
        margin-bottom: 3%;
        margin-left: 0px;
        font-size: 180%; 
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about p {
        height: 90%;
        margin-bottom: 0%;
        width: 45%;    
        font-size: 75%;
        line-height: 22px;
        padding-left: 0px;
    }

    .about img {
        margin-bottom: 8%;
        width: 42% !important;
        padding: 0px;
    }
}

@mixin about-laptopXL(){
    .about {
        height: 540px;
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .about h1 {
        margin-bottom: 3%;
        margin-left: 0px;
        font-size: 180%; 
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about p {
        height: 90%;
        margin-bottom: 0%;
        width: 45%;    
        font-size: 90%;
        line-height: 24px;
        padding-left: 0px;
    }

    .about img {
        margin-bottom: 8%;
        width: 42% !important;
        padding: 0px;
    }
}

@mixin about-desktop(){
    .about {
        height:550px;
        padding-top:80px;
        padding-bottom: 40px;
        padding-left: 110px;
        padding-right:110px;
    }

    .about h1 {
        margin-bottom: 45px !important;
        font-size: 40px !important;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about p {
        width: 500px;
        height: auto !important;
    }

    .about img {
        height: 33%;
        width: 33%;
    }
}


//default: same on all devices rules
.about {
    background-color: #353434;
    margin: 0 auto;

h1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    p {
        color: white;
        font-family: Poppins;
    }

    a {
        color: #FBF781;
        font-family: Poppins;
    }

    img {
        height: 33%;
        width: 33%;
    }
}
}


