@mixin feature-mobile(){
    .feature { 
        margin-bottom: 0px;
        height: 450px;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right:15px;
        }
       
        .feature svg {
            margin-left: 0px;
            margin-top: 180px;    
            width: 150px; 
            height: 150px;
        }
    
        .projectText {
            margin-top: -115px !important;
            padding-left: 20px;
        }
    
        .feature h2 {
            font-size: 10px !important;
            letter-spacing: 0.435em !important;
        }
    
        .feature h3 {
            margin-bottom: 15px;
            font-size: 18px !important;
        }
    
        .description {
            margin-bottom: 65px;
            width: 300px;    
            font-size: 10px !important;
            line-height: 20px !important;
            padding-left: 0px;
        }
    
        .project-cta {
            width: 110px;
            height: 30px;
            font-size: 10px;
        }
    
        .feature-thumbnail {
            opacity: 100;
            width: 100%;
            height: 100%;
            margin-left: 16px;
            margin-top: -700px !important;
        }
}

@mixin feature-tablet(){
    .feature { 
        margin-bottom: 0px;
        height: 290px;
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right:50px;
        }
       
        .feature svg {
            margin-left: 0px !important;    
            width: 190px; 
            height: 190px;
        }
    
        .projectText {
            margin-top: -150px !important;
            padding-left: 35px;
        }
    
        .feature h2 {
            font-size: 10px !important;
            letter-spacing: 0.435em !important;
        }
    
        .feature h3 {
            margin-bottom: 10px;
            font-size: 20px !important;
        }
    
        .description {
            margin-bottom: 65px;
            width: 250px;    
            font-size: 10px !important;
            line-height: 18px !important;
        }
    
        .project-cta {
            width: 110px;
            height: 30px;
            font-size: 10px;
            margin-top: 5px;
        }
    
        .feature-thumbnail {
            opacity: 100;
            width: 58%;
            height: 58%;
            margin-left: 332px;
            margin-top: -315px !important;
        }
}

@mixin feature-laptop(){
    .feature { 
        margin-bottom: 0px;
        height: 350px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 100px;
        padding-right:100px;
        }
       
        .feature svg {
            margin-left: 0px;    
            width: 250px; 
            height: 250px;
        }
    
        .projectText {
            margin-top: -195px;
            padding-left: 50px;
        }
    
        .feature h2 {
            font-size: 12px !important;
            letter-spacing: 0.435em !important;
        }
    
        .feature h3 {
            margin-bottom: 22px;
            font-size: 22px !important;
        }
    
        .description {
            margin-bottom: 70px;
            width: 350px;    
            font-size: 11px !important;
            line-height: 20px !important;
        }
    
        .project-cta {
            width: 125px;
            height: 30px;
            font-size: 11px;
        }
    
        .feature-thumbnail {
            opacity: 100;
            width: 62%;
            height: 62%;
            margin-left: 414px;
            margin-top: -315px !important;
        }
}

@mixin feature-desktop(){
    .feature { 
    margin-bottom: 0px;
    height: 540px;
    padding-top:80px;
    padding-bottom: 70px;
    padding-left: 110px;
    padding-right:110px;
    }
   
    .feature svg {
        margin-left: 0px;
        width: 350px; 
        height: 350px;
    }

    .projectText {
        margin-top: -265px;
        padding-left: 70px;
    }

    .feature h2 {
        font-size: 12px !important;
        letter-spacing: 0.435em !important;
    }

    .feature h3 {
        margin-bottom: 22px;
        font-size: 25px !important;
    }

    .description {
        margin-bottom: 90px;
        width: 350px;    
        font-size: 12px !important;
        line-height: 25px !important;
    }

    .project-cta {
        width: 135px;
        height: 35px;
        font-size: 12px;
    }

    .feature-thumbnail {
        opacity: 100;
        width: 62%;
        height: 62%;
        margin-left: 574px;
        margin-top: -405px !important;
    }
}
    
    
//default: same on all devices rules
    
    .feature {
        margin: 0 auto;
    
        h2 {
            display: flex;
            flex-direction: column;
            align-content: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            text-transform: uppercase;
            color: #2B7370;
        }
    
        h3 {
            font-family: Poppins;
            font-weight: 800;
            color: #212121;  
        }
    
        .description {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            color: #8D8D8E;
        }
    
        .project-cta {
            background: #000000;
            font-family: Poppins;
            font-weight: 600;
            color: white;
            border-radius: 20px;
            border: 1px solid black;
        }
    }

