
@mixin footer-mobile() {
     footer {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        }
    
       #footer-text {
           margin: 0 auto;;
            font-weight: 400;
            font-size: 60%;
            width: 300px;
            text-align: center;
            padding: 0px;
        }
    
        .github-link {
            font-weight: 400;
            font-size: 100%;
        }
}

@mixin footer-tablet() {
    .footer footer {
        height: 100px !important;
        padding-left: 110px !important;
        padding-right: 110px !important;
        padding-top: 65px;
        }
    
       .footer p {
            font-weight: 400;
            font-size: 10px;
            width: 300px;
            text-align: center;
            padding: 0px;
        }
    
        .github-link {
            font-weight: 400;
            font-size: 10px;
        }
}

@mixin footer-laptop() {
    .footer footer {
        height: 100px !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
        padding-top: 65px;
        }
    
       .footer p {
            font-weight: 400;
            font-size: 10px;
            width: 300px;
            text-align: center;
            padding: 0px;
        }
    
        .github-link {
            font-weight: 400;
            font-size: 10px;
        }
}

@mixin footer-laptopXL() {
    .footer footer {
        height: 100px !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
        padding-top: 65px;
        }
    
       .footer p {
            font-weight: 400;
            font-size: 10px;
            width: 300px;
            text-align: center;
            padding: 0px;
        }
    
        .github-link {
            font-weight: 400;
            font-size: 10px;
        }
}

@mixin footer-desktop() {
    #footer {
    height: 150px !important;
    padding-left: 110px !important;
    padding-right: 110px !important;
    padding-top: 65px;
    }

   #footer-text {
        font-weight: 400;
        font-size: 10px;
        width: 300px;
        text-align: center;
        padding: 0px;
    }

    .github-link {
        font-weight: 400;
        font-size: 10px;
    }
}

//default: same on all devices rules
#footer {
    margin:0 auto;
    display: flex;
    justify-content: center;
    background: #212121;

    #footer-text {
        color: #FBF781;
        font-family: Poppins;
        font-style: normal;

        .github-link {
            color:#FBF781;
            font-family: Poppins;
            font-style: normal;
        }
    }
}