
@include footer-mobile() {
    .footer footer {
        height: 50px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 65px;
        }
    
       .footer p {
            font-weight: 400;
            font-size: 10px;
            width: 300px;
            text-align: center;
            padding: 0px;
        }
    
        .github-link {
            font-weight: 400;
            font-size: 10px;
        }
}

@include footer-tablet() {
    .footer footer {
        height: 100px !important;
        padding-left: 110px !important;
        padding-right: 110px !important;
        padding-top: 65px;
        }
    
       .footer p {
            font-weight: 400;
            font-size: 10px;
            width: 300px;
            text-align: center;
            padding: 0px;
        }
    
        .github-link {
            font-weight: 400;
            font-size: 10px;
        }
}

@include footer-laptop() {
    .footer footer {
        height: 100px !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
        padding-top: 65px;
        }
    
       .footer p {
            font-weight: 400;
            font-size: 10px;
            width: 300px;
            text-align: center;
            padding: 0px;
        }
    
        .github-link {
            font-weight: 400;
            font-size: 10px;
        }
}

@include footer-desktop() {
    .footer footer {
    height: 150px;
    padding-left: 110px !important;
    padding-right: 110px !important;
    padding-top: 65px;
    }

   .footer p {
        font-weight: 400;
        font-size: 10px;
        width: 300px;
        text-align: center;
        padding: 0px;
    }

    .github-link {
        font-weight: 400;
        font-size: 10px;
    }
}

//default: same on all devices rules
footer {
    margin:0 auto;
    display: flex;
    justify-content: center;
    background: #212121;

    p {
        color: #FBF781;
        font-family: Poppins;
        font-style: normal;

        .github-link {
            color:#FBF781;
            font-family: Poppins;
            font-style: normal;
        }
    }
}