@mixin header-mobile(){
    header .box{
        height: 250px;
        width: auto;
        padding-top:5%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .box h1{
        margin-bottom: 15px !important;
        margin-top: 0px !important;
        width: auto;
        font-size: 150%;
        padding-left: 0%;
    }

   .box p{  
        width: auto;
        font-size: 75%;
        padding-left: 0%;
    }

    .pull-quote {
        opacity: 0 !important;
        margin-top: 60px !important;
        margin-left: -260px !important;
        height: auto;
        width: 230px;
    }
}


@mixin header-tablet(){
    .box{
        height:300px;
        padding-top: 0% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .box h1{
        margin-bottom: 15px !important;
        margin-top: 0px !important;
        width: 100%;
        font-size: 160% !important;
        padding-left: 0%;
    }

    .box p {  
        width: auto;
        font-size: 75%;
        padding-left: 0%;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 60% !important;
        margin-left: 0% !important;
        height: auto;
        width: 100%;
    }
}

@mixin header-laptop(){
    .box{
        height:400px;
        padding-top: 0% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .box h1{
        margin-bottom: 20px !important;
        width: 450px;
        font-size: 35px !important;
    }

    .box p {  
        width: 482px;
        height: 32px;
        font-size: 14px;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 250px !important;
        margin-left: 30px !important;
        height: 390px;
        width: 390px;
    }
}

@mixin header-laptopXL(){
    .box{
        height:500px;
        padding-top:10px;
        padding-bottom: 40px;
        padding-left: 110px;
        padding-right:110px;
    }

    .box h1{
        margin-bottom: 40px !important;
        width: 600px;
        font-size: 45px !important;
    }

    .box p{  
        width: 482px;
        height: 32px;
        font-size: 16px;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 360px !important;
        margin-left: 40px !important;
        height: 600px;
        width: 600px;
    }
}

@mixin header-desktop(){
    .box{
        height:500px;
        padding-top:30px !important;
        padding-bottom: 40px !important;
        padding-left: 110px !important;
        padding-right:110px !important;
    }

    .box h1{
        margin-bottom: 40px !important;
        width: 600px;
        font-size: 40px !important;
    }

    .box p{  
        width: 482px;
        height: 32px;
        font-size: 16px;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 360px !important;
        margin-left: 100px !important;
        width: 65%x;
    }
}


//default: same on all devices rules
header {
    .box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: #353434;
       
        h1{
            margin: 0 auto;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            color: white;
        }
    
        p{
            margin:0 auto;
            position: absolute;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            color: #CECDCD;
        }

        .pull-quote {
            margin: 0 auto;
            display: flex;
        }
    } 
}

