@mixin header-mobile(){
    .box{
        height:270px;
        padding-top:10px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    h1{
        margin-bottom: 15px !important;
        margin-top: 0px !important;
        width: 260px;
        font-size: 20px !important;
        padding-left: 20px;
    }

    p{  
        width: 260px;
        height: 32px;
        font-size: 12px;
        padding-left: 20px;
    }

    .pull-quote {
        opacity: 0 !important;
        margin-top: 330px !important;
        margin-left: -230px !important;
        height: 230px;
        width: 230px;
    }
}


@mixin header-tablet(){
    .box{
        height:300px;
        padding-top:10px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    h1{
        margin-bottom: 20px !important;
        width: 320px;
        font-size: 25px !important;
    }

    p{  
        width: 482px;
        height: 32px;
        font-size: 12px;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 200px !important;
        margin-left: 40px !important;
        height: 320px;
        width: 320px;
    }
}

@mixin header-laptop(){
    .box{
        height:350px;
        padding-top:10px;
        padding-bottom: 40px;
        padding-left: 100px;
        padding-right:100px;
    }

    h1{
        margin-bottom: 20px !important;
        width: 450px;
        font-size: 35px !important;
    }

    p{  
        width: 482px;
        height: 32px;
        font-size: 14px;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 250px !important;
        margin-left: 30px !important;
        height: 390px;
        width: 390px;
    }
}

@mixin header-desktop(){
    .box{
        height:500px;
        padding-top:10px;
        padding-bottom: 40px;
        padding-left: 110px;
        padding-right:110px;
    }

    h1{
        margin-bottom: 40px !important;
        width: 600px;
        font-size: 45px !important;
    }

    p{  
        width: 482px;
        height: 32px;
        font-size: 16px;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 360px !important;
        margin-left: 40px !important;
        height: 600px;
        width: 600px;
    }
}


//default: same on all devices rules
header {
    .box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: #353434;
       
        h1{
            margin: 0 auto;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            color: white;
        }
    
        p{
            margin:0 auto;
            position: absolute;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            color: #CECDCD;
        }

        .pull-quote {
            margin: 0 auto;
            display: flex;
        }
    } 
}

