@mixin header-mobile(){
    header .box{
        height: 250px;
        width: auto;
        padding-top:5%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .headline {
        margin-bottom: 5% !important;
        margin-top: 0px !important;
        width: auto;
        font-size: 140%;
        padding-left: 0%;
    }

   .box p{  
        width: auto;
        font-size: 75%;
        padding-left: 0%;
        margin-bottom: 2%;
    }

    .pull-quote {
        opacity: 0 !important;
        margin-top: 60px !important;
        margin-left: -260px !important;
        height: auto;
        width: 230px;
    }
}


@mixin header-tablet(){
    .box{
        height:300px;
        padding-top: 0% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .headline {
        margin-bottom: 15px !important;
        margin-top: 0px !important;
        width: 100%;
        font-size: 160% !important;
        padding-left: 0%;
    }

    .box p {  
        width: auto;
        font-size: 75%;
        padding-left: 0%;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 60% !important;
        margin-left: 0% !important;
        height: auto;
        width: 100%;
    }
}

@mixin header-laptop(){
    .box{
        height:400px;
        padding-top: 0% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .headline {
        margin-bottom: 5% !important;
        margin-top: 0px !important;
        width: auto;
        font-size: 190% !important;
        padding-left: 0%;
    }

    .box p {  
        width: auto;
        font-size: 80%;
        padding-left: 0%;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 70% !important;
        margin-left: -10% !important;
        height: auto;
        width: 108%;
    }
}

@mixin header-laptopXL(){
    .box{
        height:420px;
        padding-top: 0% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .headline {
        margin-bottom: 5% !important;
        margin-top: 0px !important;
        width: auto;
        font-size: 220% !important;
        padding-left: 0%;
    }

    .box p {  
        width: auto;
        font-size: 90%;
        padding-left: 0%;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 70% !important;
        margin-left: -20% !important;
        height: auto;
        width: 120%;
    }
}

@mixin header-desktop(){
    .box {
        height:500px;
        padding-top: 0% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .headline {
        margin-bottom: 5% !important;
        margin-top: 0px !important;
        width: auto;
        font-size: 290% !important;
        padding-left: 0%;
    }

    .box p {  
        width: auto;
        font-size: 100%;
        padding-left: 0%;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 65% !important;
        margin-left: -18% !important;
        height: auto;
        width: 120% !important;
    }
}

@mixin header-desktopXL(){
    .box{
        height:600px;
        padding-top: 0% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .headline {
        margin: 0 auto;
        margin-bottom: 5% !important;
        margin-top: 0px !important;
        width: auto;
        font-size: 370% !important;
        padding-left: 0%;
    }

    .box p {  
        width: auto;
        font-size: 115%;
        padding-left: 0%;
    }

    .pull-quote {
        opacity: 100 !important;
        margin-top: 65% !important;
        margin-left: -20% !important;
        height: auto;
        width: 110% !important;
    }
}


//default: same on all devices rules
header {
    .box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: #353434;
       
        h1{
            margin: 0 auto;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            color: white;
        }
    
        p{
            margin:0 auto;
            position: absolute;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            color: #CECDCD;
        }

        .pull-quote {
            margin: 0 auto;
            display: flex;
        }
    } 
}

