

@mixin hireMe-mobile(){
    .hireMe {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5%;
        padding-bottom: 15%;
        padding-left: 5%;
        padding-right:5%;
    }

    .hireMe h3 {
        margin: 0 auto;
        font-weight: 800;
        margin-bottom: 5%;
        font-size: 20px;
    }
    
    .hire-cta {
        width: 45%;
        height: 40px;
        font-size: 12px;
        font-weight: 800;
        border-radius: 30px;
    }
}

@mixin hireMe-tablet(){
    .hireMe {
        margin-bottom: 0px;
        height: auto;
        padding-top: 1% !important;
        padding-bottom: 5% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .hireMe h3 {
        margin: 0 auto;
        font-weight: 800;
        margin-bottom: 3%;
        font-size: 120%;
    }
    
    .hire-cta {
        width: 25%;
        height: 40px;
        font-size: 90%;
        font-weight: 800;
        border-radius: 30px;
    }
}


@mixin hireMe-laptop(){
    .hireMe {
        margin-bottom: 0px;
        height: auto;
        padding-top: 1% !important;
        padding-bottom: 5% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .hireMe h3 {
        margin: 0 auto;
        font-weight: 800;
        margin-bottom: 2%;
        font-size: 140%;
    }
    
    .hire-cta {
        width: 20%;
        height: 40px;
        font-size: 90%;
        font-weight: 800;
        border-radius: 30px;
    }
}

@mixin hireMe-laptopXL(){
    .hireMe {
        margin-bottom: 0px;
        padding-top:20px;
        padding-bottom: 60px;
        padding-left: 100px;
        padding-right:100px;
    }

    .hireMe h3 {
        margin-bottom: 25px;
        font-weight: 800;
        font-size: 20px;
    }
    
    .hire-cta {
        width: 200px;
        height: 50px;
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 800;
    }
}


@mixin hireMe-desktop(){
    .hireMe {
        margin-bottom: 0px;
        padding-top:100px;
        padding-bottom: 100px;
        padding-left: 110px;
        padding-right:110px;
    }

    .hireMe h3 {
        margin-bottom: 35px;
        font-weight: 800;
        font-size: 25px;
    }
    
    .hire-cta {
        width: 200px;
        height: 50px;
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 800;
    }
}


//default: same on all devices rules
.hireMe {
    margin: 0 auto;

    h3 {
        font-family: Poppins;
        color: #212121; 
        display: flex;
        justify-content: center; 
    }

    .cta {
        display: flex;
        justify-content: center;
    }

    .hire-cta {
        background-color:#2B7370;
        color: white;
        font-family: Poppins;
        border-radius: 30px;
        border: 1px solid #2B7370;
    }
}

