@mixin navbar-mobile() {
    .navbar {
        height: 55px;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin-left: 0 !important;
        margin-right: 35% !important;
        font-size: 18px !important;
        line-height: 39px;
    }

    .nav-link {
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 12px;
    }

    .nav-icon {
        width: 8%;
        padding-top:5px;
        padding: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@mixin navbar-tablet() {
    .navbar {
        height: 65px;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin-left: 0 !important;
        margin-right: 0% !important;
        font-size: 18px !important;
        line-height: 39px;
    }

    .nav-link {
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 12px;
    }

    .nav-icon {
        width: 6%;
        padding: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@mixin navbar-laptop() {
    .navbar {
        height: 65px;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .navbar-expand-lg {
        -ms-flex-flow: row nowrap !important;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-flow: row nowrap !important;
        -ms-flex-pack: start !important;
        -webkit-box-pack: start !important;
        justify-content: flex-start !important;
    }


    #nav-items {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: row !important;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-direction: row !important;
        padding-left: 0 !important;
        margin-bottom: 0 !important;
        list-style: none !important;
    }

    .navbar-brand {
        margin-left: 0 !important;
        margin-right: 5% !important;
        font-size: 18px !important;
        line-height: 39px;
    }

    .nav-link {
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 12px;
    }

    .nav-icon {
        width: 7%;
        padding: 2%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@mixin navbar-laptopXL() {
    .navbar {
        height: 70px;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
        padding-left: 5.5% !important;
        padding-right: 5.5% !important;
    }

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin-left: 0 !important;
        margin-right: 5% !important;
        font-size: 20px !important;
        line-height: 39px;
    }

    .nav-link {
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 14px;
    }

    .nav-icon {
        width: 7%;
        padding: 2%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@mixin navbar-desktop() {
    .navbar {
        height: 70px;
        padding-left: 110px !important;
        padding-right: 110px !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin-right: 50px !important;
        font-size: 18px !important;
        line-height: 39px;
    }

    .nav-link {
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 12px;
    }

    .nav-icon {
        height: 30px !important;
        width: 30px  !important;
        padding-top:5px  !important;
        padding:3px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


//default: same on all devices rules
.navbar {
    background: #212121;
    display: flex;
    flex-direction: row;

    .navbar-brand {
        color:#FBF781;
        font-weight: bold;
    }
    
    .nav-link {
        margin: 0 auto;
        color:white;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
    }

}