
@mixin skills-mobile(){
    .skills {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
        
    .skills h1 {
        margin-bottom: 8%;
        margin-left: 0px;
        font-size: 150%; 
    }

    .resume-cta {
        width: 45%;
        height: 40px;
        font-size: 12px;
        font-weight: 800;
        border-radius: 30px;
    }
    
    .skills-row {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-card {
        margin-bottom: 20px;
        padding: 8%;
        width: auto;
        height: 50%;
        border-radius: 20px;
    }

    .card-icon {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .skills h2 {
        font-size: 85%;
        font-weight: 800;
        margin-bottom: 8%;
    }
    
   .skills img {
        width: 180px;
        margin-left: 0px;
    }
}

@mixin skills-tablet(){
    .skills {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }
        
   .skills h1 {
        margin-bottom: 5%;
        margin-left: 0px;
        font-size: 150%; 
    }

    .resume-cta {
        width: 30%;
        height: 40px;
        font-size: 12px;
        font-weight: 800;
        border-radius: 30px;
    }
    
    .skills-row {
        margin-bottom: 5% !important;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .skills-card {
        margin-bottom: 0px;
        padding: 5%;
        width: 32%;
        height: auto;
        border-radius: 20px;
    }

    .card-icon {
        font-size: 110%;
        margin-bottom: 8%;
    }

    .skills h2 {
        font-size: 65%;
        font-weight: 800;
        margin-bottom: 8%;
    }
    
    .skills img {
        width: 100%;
        margin-left: 0px;
    }
}

@mixin skills-laptop(){
    .skills {
        height: 640px;
        padding-top:70px;
        padding-bottom: 40px;
        padding-left: 100px;
        padding-right:100px;
    }
        
    h1 {
        margin-bottom: 40px !important;
        font-size: 40px !important; 
    }

    .resume-cta {
        width: 200px;
        height: 50px;
        font-size: 15px !important;
        font-weight: 800;
        border-radius: 30px;
    }
    
    .skills-row {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .skills-card {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;
        width: 250px;
        height: 350px;
        border-radius: 20px;
    }

    .card-icon {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .skills h2 {
        font-size: 18px !important;
        font-weight: 800 !important;
        margin-bottom: 20px !important;
    }
    
    .skills img {
        width: 220px;
        margin-left: -5px;
    }
}

@mixin skills-laptopXL(){
    .skills {
        height: 640px;
        padding-top:70px;
        padding-bottom: 40px;
        padding-left: 100px;
        padding-right:100px;
    }
        
    h1 {
        margin-bottom: 40px !important;
        font-size: 40px !important; 
    }

    .resume-cta {
        width: 200px;
        height: 50px;
        font-size: 15px !important;
        font-weight: 800;
        border-radius: 30px;
    }
    
    .skills-row {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .skills-card {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;
        width: 250px;
        height: 350px;
        border-radius: 20px;
    }

    .card-icon {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .skills h2 {
        font-size: 18px !important;
        font-weight: 800 !important;
        margin-bottom: 20px !important;
    }
    
    .skills img {
        width: 220px;
        margin-left: -5px;
    }
}


@mixin skills-desktop(){
    .skills {
        height: 800px;
        padding-top:80px;
        padding-bottom: 40px;
        padding-left: 110px;
        padding-right:110px;
    }
        
    h1 {
        margin-bottom: 60px !important;
        font-size: 40px !important; 
    }

    .resume-cta {
        width: 200px;
        height: 50px;
        font-size: 15px !important;
        font-weight: 800;
        border-radius: 30px;
    }
    
    .skills-row {
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .skills-card {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 60px;
        width: 350px;
        height: 450px;
        border-radius: 20px;
    }

    .card-icon {
        font-size: 35px;
        margin-bottom: 15px;
    }

   .skills h2 {
        font-size: 16px !important;
        font-weight: 800 !important;
        margin-bottom: 30px !important;
    }
    
    .skills img {
        width: 320px;
        margin-left: -5px;
    }
}


//default: same on all devices rules
.skills {
    margin: 0 auto;
    background-color: #353434;

    h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
    }

    .skills-button {
        display: flex;
        justify-content: center;
    }

    .resume-cta {
        background-color: #FBF781;
        color: #212121;
        font-family: Poppins;
        border: 1px solid #FBF781;
    }

}

.skills-row {
    .skills-card {
        text-align: center;
        display: block;
        background-color: white;

        h2 {
            font-family: Poppins;
            text-transform: uppercase;
        }

        img {
            display: flex;
            flex-direction: row;
            justify-content: center;   
        }
    }
}

