@mixin work-mobile(){
    .work {
        height: auto;
        margin-bottom: 0;
        padding-top:10%;
        padding-bottom: 0%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .work h1 {
        margin-bottom:8%;
        margin-left: 0px;
        font-size: 150%
    }

    .work-panel {
        height: auto;
        margin-bottom: 12%;
    }

    .work svg {
        margin-left: 0px;
        margin-top: 0%;    
        width: 52%; 
        height: 52%;
    }

    .work .projectText {
        margin-top: -42%;
        padding-left: 5%;
    }

    .work h2 {
        margin: 0;
        font-size: 10px !important;
        letter-spacing: 0.435em !important;
        margin-bottom: 1%;
    }

    .work h3 {
        margin: 0 auto;
        margin-bottom: 2%;
        font-weight: 800;
        font-size: 18px;
    }

   .work .description {
        margin: 0 auto;
        margin-bottom: 5%;
        width: auto;    
        font-size: 12px;
        line-height: 22px;
        padding-left: 0px;
    }

    .work .project-cta {
        margin-top: 0px;
        width: 45%;
        height: 35px;
        font-size: 12px;
        font-weight: 600;
    }

    .work .feature-thumbnail {
        width: 100%;
        height: 100%;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 5%;
    }
}

@mixin work-tablet(){
    .work {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5% !important;
        padding-bottom: 0% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .work h1 {
        margin-bottom: 5%;
        margin-left: 0px;
        font-size: 150%; 
    }

    .work-panel {
        height: 270px !important;
        margin: 3%;
    }

    .work svg {
        margin-top: -45% !important;
        margin-left: 39% !important;    
        width: 60%; 
        height: 60%;
    }

    .work .projectText {
        width: auto;
        height: auto;
        margin-top: -32% !important;
        margin-left: 55%;
        margin-bottom: 0;
        padding-left: 25px;
    }

    .work h2 {
        width: auto;
        margin: 0;
        font-size: 55%;
        letter-spacing: 0.435em;
        margin-bottom: 1%;
    }

    .work h3 {
        width: auto;
        margin-bottom: 2%;
        font-weight: 800;
        font-size: 115%
    }

   .work .description {
       height: auto;
        margin-bottom: 3%;
        font-size: 67% !important;
        line-height: 20px !important;
    }

    .work .project-cta {
        width: 45%;
        height: 30px;
        font-size: 70%;
        font-weight: 600;
        margin-top: 0px;
    }

    .work .feature-thumbnail {
        width: 50%;
        height: auto;
        margin-left: 0px;
        margin-top: 2% !important;
        margin-bottom: 0px;
    }
}

@mixin work-laptop(){
    .work {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5% !important;
        padding-bottom: 0% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .work h1 {
        margin-bottom: 4%;
        margin-left: 0px;
        font-size: 180%; 
    }

    .work-panel {
        height: 320px !important;
        margin: 5%;
    }

    .work svg {
        margin-top: -40% !important;
        margin-left: 32% !important;    
        width: 75%; 
        height: 75%;
    }

    .work .projectText {
        width: auto;
        height: auto;
        margin-top: -31% !important;
        margin-left: 55%;
        margin-bottom: 0;
        padding-left: 25px;
    }

    .work h2 {
        width: auto;
        margin: 0;
        font-size: 12px;
        letter-spacing: 0.435em;
        margin-bottom: 1%;
    }

    .work h3 {
        width: auto;
        margin-bottom: 3%;
        font-weight: 800;
        font-size: 22px;
    }

   .work .description {
        height: auto;
        margin-bottom: 3%;
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .work .project-cta {
        width: 40%;
        height: 35px;
        font-size: 12px;
        margin-top: 3%;
        font-weight: 600;
        
    }

    .work .feature-thumbnail {
        width: 55%;
        height: auto;
        margin-left: -5%;
        margin-top: 2% !important;
        margin-bottom: 0px;
    }
}

@mixin work-laptopXL(){
    .work {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5% !important;
        padding-bottom: 0% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .work h1 {
        margin-bottom: 3% !important;
        margin-left: 0px;
        font-size: 180%; 
    }

    .work-panel {
        height: 390px !important;
        margin: 2%;
        margin-left: 0;
        margin-right: 0;
    }

    .work svg {
        margin-top: -40% !important;
        margin-left: 33% !important;    
        width: 75%; 
        height: 75%;
    }

    .work .projectText {
        width: auto;
        height: auto;
        margin-top: -29% !important;
        margin-left: 58%;
        margin-bottom: 0;
        padding-left: 25px;
    }

    .work h2 {
        width: auto;
        margin: 0;
        font-size: 12px;
        letter-spacing: 0.435em;
        margin-bottom: 1%;
    }

    .work h3 {
        width: auto;
        margin-bottom: 3%;
        font-weight: 800;
        font-size: 22px;
    }

    .work .description {
        width: 90%;
        height: auto;
        margin-bottom: 3%;
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .work .project-cta {
        width: 40%;
        height: 35px;
        font-size: 12px;
        margin-top: 3%;
        font-weight: 600;
        
    }

    .work .feature-thumbnail {
        width: 50%;
        height: auto;
        margin-left: -0%;
        margin-top: 2% !important;
        margin-bottom: 0px;
    }
}


@mixin work-desktop(){
    .work {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5% !important;
        padding-bottom: 0% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .work h1 {
        margin-bottom: 3% !important;
        margin-left: 0px;
        font-size: 220%; 
    }

    .work-panel {
        height: 450px !important;
        margin: 5%;
        margin-left: 0;
        margin-right: 0;
    }

    .work svg {
        margin-top: -40% !important;
        margin-left: 33% !important;    
        width: 75%; 
        height: 75%;
    }

    .work .projectText {
        width: auto;
        height: auto;
        margin-top: -28% !important;
        margin-left: 60%;
        margin-bottom: 0;
        padding-left: 25px;
    }

    .work h2 {
        width: auto;
        margin: 0;
        font-size: 14px;
        letter-spacing: 0.435em;
        margin-bottom: 1%;
    }

    .work h3 {
        width: auto;
        margin-bottom: 3%;
        font-weight: 800;
        font-size: 25px;
    }

    .work .description {
        width: 90%;
        height: auto;
        margin-bottom: 3%;
        font-size: 14px !important;
        line-height: 25px !important;
    }

    .work .project-cta {
        width: 40%;
        height: 40px;
        font-size: 14px;
        margin-top: 3%;
        font-weight: 600;
        
    }

    .work .feature-thumbnail {
        width: 50%;
        height: auto;
        margin-left: -0%;
        margin-top: 0% !important;
        margin-bottom: 0px;
    }
}

@mixin work-desktopXL(){
    .work {
        margin-bottom: 0px;
        height: auto;
        padding-top: 5% !important;
        padding-bottom: 0% !important;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .work h1 {
        margin-bottom: 3% !important;
        margin-left: 0px;
        font-size: 220%; 
    }

    .work-panel {
        height: 450px !important;
        margin: 5%;
        margin-left: 0;
        margin-right: 0;
    }

    .work svg {
        margin-top: -40% !important;
        margin-left: 33% !important;    
        width: 75%; 
        height: 75%;
    }

    .work .projectText {
        width: auto;
        height: auto;
        margin-top: -28% !important;
        margin-left: 60%;
        margin-bottom: 0;
        padding-left: 25px;
    }

    .work h2 {
        width: auto;
        margin: 0;
        font-size: 14px;
        letter-spacing: 0.435em;
        margin-bottom: 1%;
    }

    .work h3 {
        width: auto;
        margin-bottom: 3%;
        font-weight: 800;
        font-size: 25px;
    }

    .work .description {
        width: 90%;
        height: auto;
        margin-bottom: 3%;
        font-size: 14px !important;
        line-height: 25px !important;
    }

    .work .project-cta {
        width: 40%;
        height: 40px;
        font-size: 14px;
        margin-top: 3%;
        font-weight: 600;
        
    }

    .work .feature-thumbnail {
        width: 50%;
        height: auto;
        margin-left: -0%;
        margin-top: 0% !important;
        margin-bottom: 0px;
    }
}


//default: same on all devices rules
.work {
    margin: 0 auto;
    
    h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: #212121;
    }


    h2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.435em;
        text-transform: uppercase;
        color: #2B7370;
    }

    h3 {
        font-family: Poppins;
        color: #212121;  
    }

    .description { 
        font-family: Poppins;
        font-style: normal;
        color: #8D8D8E;
    }

    .project-cta {
        background: #000000;
        font-family: Poppins;
        color: white;
        border-radius: 20px;
        border: 1px solid black;
    }
}


