@mixin work-mobile(){
    .work {
        height: 1520px;
        margin-bottom: 0px;
        padding-top:40px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right:15px;
    }

    .work h1 {
        margin-bottom: 20px !important;
        font-size: 25px !important;
        padding-left: 0px;
    }

    .work-panel {
        height: 460px;
        margin-bottom: 25px;
    }

    .work svg {
        margin-left: 0px;
        margin-top: 0px;
        width: 150px;
        height: 150px;
    }

    .work .projectText {
        margin-top: -120px !important;
        margin-left: 0px;
        padding-left: 20px;
    }

    .work h2 {
        font-size: 9px !important;
        width: 250px !important;
        margin-bottom: 5px;
    }

    .work h3 {
        margin-bottom: 10px !important;
        font-weight: 800;
        font-size: 20px;
    }

   .work .description {
        width: 240px;
        height: auto;    
        font-weight: 500 !important;
        font-size: 9px !important;
        line-height: 18px !important;
        margin-bottom: 5px;
    }

    .work .project-cta {
        margin-top: 10px !important;
        width: 110px;
        height: 30px;
        font-size: 10px;
        font-weight: 600;
    }

    .work .feature-thumbnail {
        width: 100%;
        height: 100%;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 25px;
    }
}

@mixin work-tablet(){
    .work {
        height: 950px;
        margin-bottom: 0px;
        padding-top:40px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right:50px;
    }

    .work h1 {
        margin-bottom: 40px !important;
        font-size: 25px !important;
    }

    .work-panel {
        height: 250px;
        margin-bottom: 20px;
    }

    .work svg {
        margin-left: 380px;
        margin-top: -275px;
        width: 150px;
        height: 150px;
    }

    .work .projectText {
        margin-top: -195px !important;
        margin-left: 385px;
        padding-left: 25px;
    }

    .work h2 {
        font-size: 9px !important;
        width: 250px !important;
        margin-bottom: 5px;
    }

    .work h3 {
        margin-bottom: 10px !important;
        font-weight: 800;
        font-size: 20px;
    }

   .work .description {
        width: 250px;
        height: auto;    
        font-weight: 500 !important;
        font-size: 9px !important;
        line-height: 18px !important;
        margin-bottom: 5px;
    }

    .work .project-cta {
        margin-top: 10px !important;
        width: 110px;
        height: 30px;
        font-size: 10px;
        font-weight: 600;
    }

    .work .feature-thumbnail {
        width: 50%;
        height: 50%;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px;
    }
}

@mixin work-laptop(){
    .work {
        height: 1270px;
        margin-bottom: 0px;
        padding-top:80px;
        padding-bottom: 20px;
        padding-left: 100px;
        padding-right:100px;
    }

    .work h1 {
        margin-bottom: 60px !important;
        font-size: 40px !important;
    }

    .work-panel {
        height: 340px;
        margin-bottom: 20px;
    }

    .work svg {
        margin-left: 480px;
        margin-top: -320px;
        width: 220px;
        height: 220px;
    }

    .work .projectText {
        margin-top: -240px;
        margin-left: 490px;
        padding-left: 25px;
    }

    .work h2 {
        font-size: 10px !important;
        width: 300px !important;
    }

    .work h3 {
        margin-bottom: 15px !important;
        font-weight: 800;
        font-size: 22px !important;
    }

   .work .description {
        width: 300px;
        height: auto;    
        font-weight: 500 !important;
        font-size: 11px !important;
        line-height: 20px !important;
        margin-bottom: 0px;
    }

    .work .project-cta {
        margin-top: 20px !important;
        width: 135px;
        height: 35px;
        font-size: 12px;
        font-weight: 600;
    }

    .work .feature-thumbnail {
        width: 50%;
        height: 50%;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px;
    }
}

@mixin work-desktop(){
    .work {
        height: 1700px;
        margin-bottom: 0px;
        padding-top:80px;
        padding-bottom: 20px;
        padding-left: 110px;
        padding-right:110px;
    }

    .work h1 {
        margin-bottom: 60px !important;
        font-size: 40px !important;
    }

    .work-panel {
        height: 470px;
        margin-bottom: 50px;
    }

    .work svg {
        margin-left: 800px;
        margin-top: -470px;
        width: 350px;
        height: 350px;
    }

    .work .projectText {
        margin-top: -350px;
        margin-left: 840px;
        padding-left: 25px;
    }

    .work h2 {
        font-size: 12px !important;
    }

    .work h3 {
        margin-bottom: 15px !important;
        font-weight: 800;
        font-size: 25px !important;
    }

   .work .description {
        width: 350px;
        height: auto;    
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 25px !important;
        margin-bottom: 0px;
    }

    .work .project-cta {
        margin-top: 20px !important;
        width: 135px;
        height: 35px;
        font-size: 12px;
        font-weight: 600;
    }

    .work .feature-thumbnail {
        width: 55%;
        height: 55%;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px;
    }
}


//default: same on all devices rules
.work {
    margin: 0 auto;
    
    h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: #212121;
    }


    h2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.435em;
        text-transform: uppercase;
        color: #2B7370;
    }

    h3 {
        font-family: Poppins;
        color: #212121;  
    }

    .description { 
        font-family: Poppins;
        font-style: normal;
        color: #8D8D8E;
    }

    .project-cta {
        background: #000000;
        font-family: Poppins;
        color: white;
        border-radius: 20px;
        border: 1px solid black;
    }
}


