@import "components/_header.scss";
@import "components/_feature.scss";
@import "components/_work.scss";
@import "components/_skills.scss";
@import "components/_work.scss";
@import "components/_hireMe.scss";
@import "components/_about.scss";
@import "components/_archive.scss";
@import "components/_footer.scss";



//mobile
@media screen and (max-width:425px) and (min-width:320px) {
       @include header-mobile();
       @include feature-mobile();
       @include skills-mobile();
       @include work-mobile();
    }


//tablet
@media screen and (max-width:992px) and (min-width:768px){
        @include header-tablet();
        @include feature-tablet();
        @include skills-tablet();
        @include work-tablet();
    }

//laptop
@media screen and (max-width:1366px) and (min-width:1024px){
        @include header-laptop();
        @include feature-laptop();
        @include skills-laptop();
        @include work-laptop();
    }


//desktop
@media screen and (max-width:1920px) and (min-width:1440px){
        @include header-desktop();
        @include feature-desktop();
        @include skills-desktop();
        @include work-desktop();
    }
