@import "components/_header.scss";
@import "components/_feature.scss";
@import "components/_work.scss";
@import "components/_skills.scss";
@import "components/_work.scss";
@import "components/_hireMe.scss";
@import "components/_about.scss";
@import "components/_archive.scss";
@import "components/_footer.scss";
@import "components/_navbar.scss";



//mobile
@media screen and (max-width:480px) and (min-width:320px) {
       @include navbar-mobile(); 
       @include header-mobile();
       @include feature-mobile();
       @include skills-mobile();
       @include work-mobile();
       @include hireMe-mobile();
       @include about-mobile();
       @include archive-mobile();
       @include footer-mobile();
    }


//tablet
@media screen and (max-width:768px) and (min-width:481px){
        @include navbar-tablet(); 
        @include header-tablet();
        @include feature-tablet();
        @include skills-tablet();
        @include work-tablet();
        @include hireMe-tablet();
        @include about-tablet();
        @include archive-tablet();
        @include footer-tablet();
    }

//laptop
@media screen and (max-width:1024px) and (min-width:769px){
        @include navbar-laptop();     
        @include header-laptop();
        @include feature-laptop();
        @include skills-laptop();
        @include work-laptop();
        @include hireMe-laptop();
        @include about-laptop();
        @include archive-laptop();
        @include footer-laptop();
    }

//laptopXL
@media screen and (max-width:1200px) and (min-width:1025px){
    @include navbar-laptopXL();     
    @include header-laptopXL();
    @include feature-laptopXL();
    @include skills-laptopXL();
    @include work-laptopXL();
    @include hireMe-laptopXL();
    @include about-laptopXL();
    @include archive-laptopXL();
    @include footer-laptopXL();
}

//desktop
@media screen and (min-width:1201px){
        @include navbar-desktop(); 
        @include header-desktop();
        @include feature-desktop();
        @include skills-desktop();
        @include work-desktop();
        @include hireMe-desktop();
        @include about-desktop();
        @include archive-desktop();
        @include footer-desktop();
    }
