.navbar {
  height: 70px;
  background: #212121;
  padding-left: 120px;
  padding-right: 120px;
}

.navbar .container-fluid {
  padding: 0px;
}

.navbar .navbar-brand {
  margin: 0 auto;
  margin-right: 45px;
  color: #FBF781;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 39px;
}

.navbar .nav-link {
  margin: 0 auto;
  padding: 8px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.navbar .nav-icon {
  height: 30px;
  width: 30px;
  padding-top: 5px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

header .box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353434;
  height: 500px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

header .box h1 {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 600px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: white;
}

header .box p {
  margin: 0 auto;
  position: absolute;
  width: 482px;
  height: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #CECDCD;
}

header .box .pull-quote {
  margin: 0 auto;
  margin-top: 330px;
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  width: 600px;
}

.feature {
  margin: 0 auto;
  margin-bottom: 40px;
  height: 500px;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.feature svg {
  margin-left: 0px;
}

.feature .projectText {
  margin-top: -265px;
  padding-left: 70px;
}

.feature h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.435em;
  text-transform: uppercase;
  color: #2B7370;
}

.feature h3 {
  margin-bottom: 22px;
  font-family: Poppins;
  font-weight: 800;
  font-size: 25px;
  color: #212121;
}

.feature .description {
  margin-bottom: 25px;
  width: 350px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #8D8D8E;
}

.feature .project-cta {
  width: 135px;
  height: 35px;
  background: #000000;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.feature .feature-thumbnail {
  width: 62%;
  height: 62%;
  margin-left: 606px;
  margin-top: -435px;
}

.skills {
  margin: 0 auto;
  height: 800px;
  background-color: #353434;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.skills h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}

.skills-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-row .skills-card {
  text-align: center;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  background-color: white;
}

.skills-row .skills-card .card-icon {
  font-size: 35px;
  margin-bottom: 15px;
}

.skills-row .skills-card h2 {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.skills-row .skills-card img {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -5px;
}
/*# sourceMappingURL=style.css.map */