
.navbar {
    height: 70px;
    background: #212121;
    padding-left: 120px;
    padding-right: 120px;

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin:0 auto;
        margin-right: 45px;
        color:#FBF781;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 39px
    }

    .nav-link {
        margin: 0 auto;
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        color:white;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    .nav-icon {
        height: 30px;
        width: 30px;
        padding-top:5px;
        padding:3px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

header {
    .box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: #353434;
        height: 500px;
        padding-top:10px;
        padding-bottom: 40px;
        padding-left: 120px;
        padding-right:120px;
        
        h1{
            margin: 0 auto;
            margin-bottom: 40px;
            width: 600px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            color: white;
        }
    
        p{
            margin:0 auto;
            position: absolute;
            width: 482px;
            height: 32px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: #CECDCD;
        }

        .pull-quote {
            margin: 0 auto;
            margin-top: 330px;
            margin-left: 120px;
            display: flex;
            height: 600px;
            width: 600px;
        }
    } 
}

.feature {
    margin: 0 auto;
    margin-bottom: 40px;
    height: 500px;
    padding-top:80px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right:120px;

    svg {
        margin-left: 0px;
    }

    .projectText {
        margin-top: -265px;
        padding-left: 70px;
    }

    h2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.435em;
        text-transform: uppercase;
        color: #2B7370;
    }

    h3 {
        margin-bottom: 22px;
        font-family: Poppins;
        font-weight: 800;
        font-size: 25px;
        color: #212121;  
    }

    .description {
        margin-bottom: 25px;
        width: 350px;    
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 25px;
        color: #8D8D8E;
    }

    .project-cta {
        width: 135px;
        height: 35px;
        background: #000000;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        color: white;
        border-radius: 20px;
        border: 1px solid black;
    }

    .feature-thumbnail {
        width: 62%;
        height: 62%;
        margin-left: 606px;
        margin-top: -435px;
    }
}

.skills {
    margin: 0 auto;
    height: 800px;
    background-color: #353434;
    padding-top:80px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right:120px;

    h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 60px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        color: white;
    }

    .skills-button {
        display: flex;
        justify-content: center;
    }

    .resume-cta {
        width: 200px;
        height: 50px;
        background-color: #FBF781;
        color: #212121;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 800;
        border-radius: 30px;
        border: 1px solid #FBF781;
    }
}

.skills-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;

    .skills-card {
        text-align: center;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 60px;
        width: 350px;
        height: 450px;
        border-radius: 20px;
        background-color: white;

        .card-icon {
            font-size: 35px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 20px;
            font-family: Poppins;
            font-weight: 800;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        img {
            width: 320px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: -5px;
           
        }
    }
}

.work {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top:80px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right:120px;

    h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 60px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        color: #212121;
    }

    .work-panel {
        display: block;
        margin-bottom: 100px;
    }
    
    svg {
        margin-left: 800px;
        margin-top: -540px;
    }

    .projectText {
        margin-top: -375px;
        margin-left: 850px;
        padding-left: 25px;
    }

    h2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.435em;
        text-transform: uppercase;
        color: #2B7370;
    }

    h3 {
        margin-bottom: 22px;
        font-family: Poppins;
        font-weight: 800;
        font-size: 25px;
        color: #212121;  
    }

    .description {
        margin-bottom: 25px;
        width: 350px;    
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 25px;
        color: #8D8D8E;
    }

    .project-cta {
        width: 135px;
        height: 35px;
        background: #000000;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        color: white;
        border-radius: 20px;
        border: 1px solid black;
    }

    .feature-thumbnail {
        width: 55%;
        height: 55%;
    }
}

.hireMe {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top:80px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right:120px;

    h3 {
        margin-bottom: 35px;
        font-family: Poppins;
        font-weight: 800;
        font-size: 25px;
        color: #212121; 
        display: flex;
        justify-content: center; 
    }

    .cta {
        display: flex;
        justify-content: center;
    }

    .hire-cta {
        width: 200px;
        height: 50px;
        margin-bottom: 45px;
        background-color:#2B7370;
        ;
        color: white;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 800;
        border-radius: 30px;
        border: 1px solid #2B7370;
    }
}

.about {
        background-color: #353434;
        height:570px;
        margin: 0 auto;
        padding-top:80px;
        padding-bottom: 40px;
        padding-left: 120px;
        padding-right:120px;

    h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 45px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        color: white;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        p {
            color: white;
            width: 500px;
           
        }
    
        a {
            color: #FBF781;
        }
    
        img {
            height: 33%;
            width: 33%;
        }
    }
}

.archive {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top:100px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right:120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .archive-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
        padding-right: 40px;
    }

    h3 {
        margin-bottom: 35px;
        font-family: Poppins;
        font-weight: 800;
        font-size: 25px;
        color: #212121; 
      
    }

    .button-cta {
        width: 200px;
        height: 50px;
        background-color:#2B7370;
        color: white;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 800;
        border-radius: 30px;
        border: 1px solid #2B7370;
    }

    img {
        height: 60%;
        padding: 15px;
    }
}
