
.navbar {
    height: 70px;
    background: #212121;
    padding-left: 120px;
    padding-right: 120px;

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin:0 auto;
        margin-right: 45px;
        color:#FBF781;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 39px
    }

    .nav-link {
        margin: 0 auto;
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        color:white;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    .nav-icon {
        height: 30px;
        width: 30px;
        padding-top:5px;
        padding:3px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

header {
    .box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: #353434;
        height: 500px;
        padding-top:10px;
        padding-bottom: 40px;
        padding-left: 120px;
        padding-right:120px;
        
        h1{
            margin: 0 auto;
            margin-bottom: 40px;
            width: 500px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            color: white;
        }
    
        p{
            margin:0 auto;
            position: absolute;
            width: 482px;
            height: 32px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            color: #CECDCD;
        }

        .pull-quote {
            margin: 0 auto;
            margin-top: 300px;
            margin-left: 70px;
            display: flex;
            height: 600px;
            width: 600px;
        }
    } 
}

.feature {
    margin: 0 auto;
    height: 500px;
    background-color: white;
    padding-top:70px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right:120px;

    svg {
        margin-left: -55px;
    }

    .projectText {
        margin-top: -265px;
    }

    h2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.435em;
        text-transform: uppercase;
        color: #2B7370;
    }

    h3 {
        margin-bottom: 15px;
        font-family: Poppins;
        font-weight: 800;
        font-size: 25px;
        color: #212121;  
    }

    .description {
        width: 350px;    
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 25px;
        color: #8D8D8E;
    }

    .project-cta {
        width: 135px;
        height: 35px;
        background: #000000;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        color: white;
        border-radius: 20px;
        border: 1px solid black;
    }

    .feature-thumbnail {
        width: 65%;
        height: 65%;
        margin-left: 500px;
        margin-top: -408px;
    }
}
