header .box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353434;
}

header .box h1 {
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: white;
}

header .box p {
  margin: 0 auto;
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #CECDCD;
}

header .box .pull-quote {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature {
  margin: 0 auto;
}

.feature h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #2B7370;
}

.feature h3 {
  font-family: Poppins;
  font-weight: 800;
  color: #212121;
}

.feature .description {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: #8D8D8E;
}

.feature .project-cta {
  background: #000000;
  font-family: Poppins;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.work {
  margin: 0 auto;
}

.work h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
}

.work h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.435em;
  text-transform: uppercase;
  color: #2B7370;
}

.work h3 {
  font-family: Poppins;
  color: #212121;
}

.work .description {
  font-family: Poppins;
  font-style: normal;
  color: #8D8D8E;
}

.work .project-cta {
  background: #000000;
  font-family: Poppins;
  color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.skills {
  margin: 0 auto;
  background-color: #353434;
}

.skills h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.skills .skills-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .resume-cta {
  background-color: #FBF781;
  color: #212121;
  font-family: Poppins;
  border: 1px solid #FBF781;
}

.skills-row .skills-card {
  text-align: center;
  display: block;
  background-color: white;
}

.skills-row .skills-card h2 {
  font-family: Poppins;
  text-transform: uppercase;
}

.skills-row .skills-card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work {
  margin: 0 auto;
}

.work h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
}

.work h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.435em;
  text-transform: uppercase;
  color: #2B7370;
}

.work h3 {
  font-family: Poppins;
  color: #212121;
}

.work .description {
  font-family: Poppins;
  font-style: normal;
  color: #8D8D8E;
}

.work .project-cta {
  background: #000000;
  font-family: Poppins;
  color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.hireMe {
  margin: 0 auto;
}

.hireMe h3 {
  font-family: Poppins;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hireMe .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hireMe .hire-cta {
  background-color: #2B7370;
  color: white;
  font-family: Poppins;
  border-radius: 30px;
  border: 1px solid #2B7370;
}

.about {
  background-color: #353434;
  margin: 0 auto;
}

.about h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .about-content p {
  color: white;
  font-family: Poppins;
}

.about .about-content a {
  color: #FBF781;
  font-family: Poppins;
}

.about .about-content img {
  height: 33%;
  width: 33%;
}

.archive {
  margin: 0 auto;
}

.archive .archive-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  padding-right: 40px;
  padding-left: 0px;
}

.archive h3 {
  margin-bottom: 35px;
  font-family: Poppins;
  font-weight: 800;
  font-size: 25px;
  color: #212121;
}

.archive .button-cta {
  background-color: #2B7370;
  color: white;
  font-family: Poppins;
  border-radius: 30px;
  border: 1px solid #2B7370;
}

#footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #212121;
}

#footer #footer-text {
  color: #FBF781;
  font-family: Poppins;
  font-style: normal;
}

#footer #footer-text .github-link {
  color: #FBF781;
  font-family: Poppins;
  font-style: normal;
}

.navbar {
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .navbar-brand {
  color: #FBF781;
  font-weight: bold;
}

.navbar .nav-link {
  margin: 0 auto;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .navbar {
    height: 55px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .container-fluid {
    padding: 0px;
  }
  .navbar-brand {
    margin-left: 0 !important;
    margin-right: 35% !important;
    font-size: 18px !important;
    line-height: 39px;
  }
  .nav-link {
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 12px;
  }
  .nav-icon {
    width: 8%;
    padding-top: 5px;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  header .box {
    height: 250px;
    width: auto;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .box h1 {
    margin-bottom: 15px !important;
    margin-top: 0px !important;
    width: auto;
    font-size: 150%;
    padding-left: 0%;
  }
  .box p {
    width: auto;
    font-size: 75%;
    padding-left: 0%;
  }
  .pull-quote {
    opacity: 0 !important;
    margin-top: 60px !important;
    margin-left: -260px !important;
    height: auto;
    width: 230px;
  }
  .feature {
    margin-bottom: 0px;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .feature svg {
    margin-left: 0px;
    margin-top: 5%;
    width: 52%;
    height: 52%;
  }
  .feature .projectText {
    margin-top: -42%;
    padding-left: 5%;
  }
  .feature h2 {
    margin: 0;
    font-size: 10px !important;
    letter-spacing: 0.435em !important;
    margin-bottom: 1%;
  }
  .feature h3 {
    margin: 0 auto;
    margin-bottom: 2%;
    font-size: 18px !important;
  }
  .feature .description {
    margin: 0 auto;
    margin-bottom: 5%;
    width: auto;
    font-size: 12px !important;
    line-height: 22px !important;
    padding-left: 0px;
  }
  .project-cta {
    width: 45%;
    height: 35px;
    font-size: 12px;
  }
  .feature-thumbnail {
    opacity: 100;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: -18% !important;
  }
  .skills {
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .skills h1 {
    margin-bottom: 8%;
    margin-left: 0px;
    font-size: 150%;
  }
  .resume-cta {
    width: 45%;
    height: 40px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 30px;
  }
  .skills-row {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills-card {
    margin-bottom: 20px;
    padding: 8%;
    width: auto;
    height: 50%;
    border-radius: 20px;
  }
  .card-icon {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .skills h2 {
    font-size: 85%;
    font-weight: 800;
    margin-bottom: 8%;
  }
  .skills img {
    width: 180px;
    margin-left: 0px;
  }
  .work {
    height: auto;
    margin-bottom: 0;
    padding-top: 10%;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .work h1 {
    margin-bottom: 8%;
    margin-left: 0px;
    font-size: 150%;
  }
  .work-panel {
    height: auto;
    margin-bottom: 12%;
  }
  .work svg {
    margin-left: 0px;
    margin-top: 0%;
    width: 52%;
    height: 52%;
  }
  .work .projectText {
    margin-top: -42%;
    padding-left: 5%;
  }
  .work h2 {
    margin: 0;
    font-size: 10px !important;
    letter-spacing: 0.435em !important;
    margin-bottom: 1%;
  }
  .work h3 {
    margin: 0 auto;
    margin-bottom: 2%;
    font-weight: 800;
    font-size: 18px;
  }
  .work .description {
    margin: 0 auto;
    margin-bottom: 5%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding-left: 0px;
  }
  .work .project-cta {
    margin-top: 0px;
    width: 45%;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
  }
  .work .feature-thumbnail {
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 5%;
  }
  .hireMe {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .hireMe h3 {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 5%;
    font-size: 20px;
  }
  .hire-cta {
    width: 45%;
    height: 40px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 30px;
  }
  .about {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .about h1 {
    margin-bottom: 8%;
    margin-left: 0px;
    font-size: 150%;
  }
  .about-content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    justify-items: center;
  }
  .about p {
    margin: 0 auto;
    margin-bottom: 0%;
    width: auto;
    font-size: 12px;
    line-height: 20px;
    padding-left: 0px;
  }
  .about img {
    margin-bottom: 8%;
    width: 100% !important;
    padding: 0px;
  }
  .archive {
    height: auto;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .archive-cta {
    width: auto;
    padding-bottom: 5%;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px;
  }
  .archive h3 {
    margin: 0 auto;
    margin-bottom: 5%;
    font-size: 20px;
  }
  .button-cta {
    width: 150px;
    height: 40px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 30px;
  }
  .archive img {
    height: 100% !important;
    width: 100% !important;
    padding: 5%;
  }
  footer {
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #footer-text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 60%;
    width: 300px;
    text-align: center;
    padding: 0px;
  }
  .github-link {
    font-weight: 400;
    font-size: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .navbar {
    height: 65px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .container-fluid {
    padding: 0px;
  }
  .navbar-brand {
    margin-left: 0 !important;
    margin-right: 0% !important;
    font-size: 18px !important;
    line-height: 39px;
  }
  .nav-link {
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 12px;
  }
  .nav-icon {
    width: 6%;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .box {
    height: 300px;
    padding-top: 0% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .box h1 {
    margin-bottom: 15px !important;
    margin-top: 0px !important;
    width: 100%;
    font-size: 160% !important;
    padding-left: 0%;
  }
  .box p {
    width: auto;
    font-size: 75%;
    padding-left: 0%;
  }
  .pull-quote {
    opacity: 100 !important;
    margin-top: 60% !important;
    margin-left: 0% !important;
    height: auto;
    width: 100%;
  }
  .feature {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .feature svg {
    margin-top: -36% !important;
    margin-left: 0px !important;
    width: 27%;
    height: 27%;
  }
  .feature .projectText {
    margin-top: -28% !important;
    padding-left: 4%;
    width: 45%;
  }
  .feature h2 {
    margin: 0;
    font-size: 10px !important;
    letter-spacing: 0.435em !important;
    margin-bottom: 1%;
  }
  .feature h3 {
    margin-bottom: 2% !important;
    font-size: 20px !important;
  }
  .feature .description {
    margin-bottom: 3%;
    font-size: 10px !important;
    line-height: 18px !important;
  }
  .project-cta {
    width: 110px;
    height: 30px;
    font-size: 10px;
    margin-top: 5px;
  }
  .feature-thumbnail {
    opacity: 100;
    width: 55%;
    height: 55%;
    margin-left: 48%;
    margin-top: -9% !important;
  }
  .skills {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .skills h1 {
    margin-bottom: 5%;
    margin-left: 0px;
    font-size: 150%;
  }
  .resume-cta {
    width: 25%;
    height: 40px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 30px;
  }
  .skills-row {
    margin-bottom: 5% !important;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills-card {
    margin-bottom: 0px;
    padding: 5%;
    width: 32%;
    height: auto;
    border-radius: 20px;
  }
  .card-icon {
    font-size: 110%;
    margin-bottom: 8%;
  }
  .skills h2 {
    font-size: 65%;
    font-weight: 800;
    margin-bottom: 8%;
  }
  .skills img {
    width: 100%;
    margin-left: 0px;
  }
  .work {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 0% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .work h1 {
    margin-bottom: 5%;
    margin-left: 0px;
    font-size: 150%;
  }
  .work-panel {
    height: 270px !important;
    margin: 3%;
  }
  .work svg {
    margin-top: -45% !important;
    margin-left: 39% !important;
    width: 60%;
    height: 60%;
  }
  .work .projectText {
    width: auto;
    height: auto;
    margin-top: -32% !important;
    margin-left: 55%;
    margin-bottom: 0;
    padding-left: 25px;
  }
  .work h2 {
    width: auto;
    margin: 0;
    font-size: 55%;
    letter-spacing: 0.435em;
    margin-bottom: 1%;
  }
  .work h3 {
    width: auto;
    margin-bottom: 2%;
    font-weight: 800;
    font-size: 115%;
  }
  .work .description {
    height: auto;
    margin-bottom: 3%;
    font-size: 67% !important;
    line-height: 20px !important;
  }
  .work .project-cta {
    width: 45%;
    height: 30px;
    font-size: 70%;
    font-weight: 600;
    margin-top: 0px;
  }
  .work .feature-thumbnail {
    width: 50%;
    height: auto;
    margin-left: 0px;
    margin-top: 2% !important;
    margin-bottom: 0px;
  }
  .hireMe {
    margin-bottom: 0px;
    height: auto;
    padding-top: 1% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .hireMe h3 {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 3%;
    font-size: 120%;
  }
  .hire-cta {
    width: 25%;
    height: 40px;
    font-size: 90%;
    font-weight: 800;
    border-radius: 30px;
  }
  .about {
    height: 370px;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .about h1 {
    margin-bottom: 3%;
    margin-left: 0px;
    font-size: 150%;
  }
  .about-content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about p {
    height: 90%;
    margin-bottom: 0%;
    width: 45%;
    font-size: 52%;
    line-height: 16px;
    padding-left: 0px;
  }
  .about img {
    margin-bottom: 8%;
    width: 45% !important;
    padding: 0px;
  }
  .archive {
    padding-top: 6% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .archive-cta {
    width: auto;
    padding-bottom: 0%;
    padding-top: 5% !important;
    padding-right: 0px !important;
    padding-left: 0px;
  }
  .archive h3 {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 5%;
    font-size: 100%;
  }
  .button-cta {
    width: 110px;
    height: 150%;
    font-size: 70%;
    font-weight: 800;
    border-radius: 30px;
  }
  .archive img {
    height: 20% !important;
    width: 20% !important;
    padding: 1%;
  }
  #footer {
    height: auto;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  #footer-text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 50% !important;
    width: 300px;
    text-align: center;
    padding: 0px;
  }
  .github-link {
    font-weight: 400;
    font-size: 100%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .navbar {
    height: 65px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    flex-flow: row nowrap !important;
    -ms-flex-pack: start !important;
    -webkit-box-pack: start !important;
    justify-content: flex-start !important;
  }
  #nav-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: row !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    flex-direction: row !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
  }
  .navbar-brand {
    margin-left: 0 !important;
    margin-right: 5% !important;
    font-size: 18px !important;
    line-height: 39px;
  }
  .nav-link {
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 12px;
  }
  .nav-icon {
    width: 7%;
    padding: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .box {
    height: 400px;
    padding-top: 0% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .box h1 {
    margin-bottom: 5% !important;
    margin-top: 0px !important;
    width: auto;
    font-size: 190% !important;
    padding-left: 0%;
  }
  .box p {
    width: auto;
    font-size: 80%;
    padding-left: 0%;
  }
  .pull-quote {
    opacity: 100 !important;
    margin-top: 70% !important;
    margin-left: -10% !important;
    height: auto;
    width: 108%;
  }
  .feature {
    margin-bottom: 0px;
    height: auto;
    padding-top: 7% !important;
    padding-bottom: 7% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .feature svg {
    margin-top: -30% !important;
    margin-left: 0px !important;
    width: 27%;
    height: 27%;
  }
  .feature .projectText {
    margin-top: -24% !important;
    padding-left: 4%;
    width: 45%;
  }
  .feature h2 {
    margin: 0;
    font-size: 12px !important;
    letter-spacing: 0.435em !important;
    margin-bottom: 1%;
  }
  .feature h3 {
    margin-bottom: 3% !important;
    font-size: 22px !important;
  }
  .feature .description {
    margin-bottom: 3%;
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .project-cta {
    width: 35%;
    height: 35px;
    font-size: 12px;
    margin-top: 3%;
  }
  .feature-thumbnail {
    opacity: 100;
    width: 55%;
    height: 55%;
    margin-left: 48%;
    margin-top: -11% !important;
  }
  .skills {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .skills h1 {
    margin-bottom: 4%;
    margin-left: 0px;
    font-size: 180%;
  }
  .resume-cta {
    width: 25%;
    height: 40px;
    font-size: 90%;
    font-weight: 800;
    border-radius: 30px;
  }
  .skills-row {
    margin-bottom: 5% !important;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills-card {
    margin-bottom: 0px;
    padding: 5%;
    width: 32%;
    height: auto;
    border-radius: 20px;
  }
  .card-icon {
    font-size: 150% !important;
    margin-bottom: 8%;
  }
  .skills h2 {
    font-size: 92%;
    font-weight: 800;
    margin-bottom: 10%;
  }
  .skills img {
    width: 100%;
    margin-left: 0px;
  }
  .work {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 0% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .work h1 {
    margin-bottom: 4%;
    margin-left: 0px;
    font-size: 180%;
  }
  .work-panel {
    height: 320px !important;
    margin: 5%;
  }
  .work svg {
    margin-top: -40% !important;
    margin-left: 32% !important;
    width: 75%;
    height: 75%;
  }
  .work .projectText {
    width: auto;
    height: auto;
    margin-top: -31% !important;
    margin-left: 55%;
    margin-bottom: 0;
    padding-left: 25px;
  }
  .work h2 {
    width: auto;
    margin: 0;
    font-size: 12px;
    letter-spacing: 0.435em;
    margin-bottom: 1%;
  }
  .work h3 {
    width: auto;
    margin-bottom: 3%;
    font-weight: 800;
    font-size: 22px;
  }
  .work .description {
    height: auto;
    margin-bottom: 3%;
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .work .project-cta {
    width: 40%;
    height: 35px;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
  }
  .work .feature-thumbnail {
    width: 55%;
    height: auto;
    margin-left: -5%;
    margin-top: 2% !important;
    margin-bottom: 0px;
  }
  .hireMe {
    margin-bottom: 0px;
    height: auto;
    padding-top: 1% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .hireMe h3 {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 2%;
    font-size: 140%;
  }
  .hire-cta {
    width: 20%;
    height: 40px;
    font-size: 90%;
    font-weight: 800;
    border-radius: 30px;
  }
  .about {
    height: 450px;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .about h1 {
    margin-bottom: 3%;
    margin-left: 0px;
    font-size: 180%;
  }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about p {
    height: 90%;
    margin-bottom: 0%;
    width: 45%;
    font-size: 75%;
    line-height: 22px;
    padding-left: 0px;
  }
  .about img {
    margin-bottom: 8%;
    width: 42% !important;
    padding: 0px;
  }
  .archive {
    padding-top: 6% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .archive-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px !important;
    padding-right: 40px;
    padding-left: 0px;
  }
  .archive h3 {
    margin-bottom: 10%;
    font-weight: 800;
    font-size: 22px;
  }
  .button-cta {
    width: 200px;
    height: 170%;
    font-size: 90%;
    font-weight: 800;
    border-radius: 30px;
  }
  .archive img {
    height: 22% !important;
    width: 22% !important;
    padding: 1%;
  }
  #footer {
    height: auto;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  #footer-text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 70% !important;
    width: 300px;
    text-align: center;
    padding: 0px;
  }
  .github-link {
    font-weight: 400;
    font-size: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .navbar {
    height: 70px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 5.5% !important;
    padding-right: 5.5% !important;
  }
  .container-fluid {
    padding: 0px;
  }
  .navbar-brand {
    margin-left: 0 !important;
    margin-right: 5% !important;
    font-size: 20px !important;
    line-height: 39px;
  }
  .nav-link {
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 14px;
  }
  .nav-icon {
    width: 7%;
    padding: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .box {
    height: 420px;
    padding-top: 0% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .box h1 {
    margin-bottom: 5% !important;
    margin-top: 0px !important;
    width: auto;
    font-size: 220% !important;
    padding-left: 0%;
  }
  .box p {
    width: auto;
    font-size: 90%;
    padding-left: 0%;
  }
  .pull-quote {
    opacity: 100 !important;
    margin-top: 70% !important;
    margin-left: -20% !important;
    height: auto;
    width: 120%;
  }
  .feature {
    margin-bottom: 0px;
    height: auto;
    padding-top: 7% !important;
    padding-bottom: 7% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .feature svg {
    margin-top: -30% !important;
    margin-left: 0px !important;
    width: 27%;
    height: 27%;
  }
  .feature .projectText {
    margin-top: -24% !important;
    padding-left: 4%;
    width: 40%;
  }
  .feature h2 {
    margin: 0;
    font-size: 12px !important;
    letter-spacing: 0.435em !important;
    margin-bottom: 1%;
  }
  .feature h3 {
    margin-bottom: 3% !important;
    font-size: 22px !important;
  }
  .feature .description {
    margin-bottom: 3%;
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .project-cta {
    width: 35%;
    height: 35px;
    font-size: 12px;
    margin-top: 3%;
  }
  .feature-thumbnail {
    opacity: 100;
    width: 55%;
    height: 55%;
    margin-left: 48%;
    margin-top: -11% !important;
  }
  .skills {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .skills h1 {
    margin-bottom: 4%;
    margin-left: 0px;
    font-size: 180%;
  }
  .resume-cta {
    width: 22%;
    height: 40px;
    font-size: 90%;
    font-weight: 800;
    border-radius: 30px;
  }
  .skills-row {
    margin-bottom: 5% !important;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills-card {
    margin-bottom: 0px;
    padding: 5%;
    width: 32%;
    height: auto;
    border-radius: 20px;
  }
  .card-icon {
    font-size: 160% !important;
    margin-bottom: 8%;
  }
  .skills h2 {
    font-size: 97%;
    font-weight: 800;
    margin-bottom: 10%;
  }
  .skills img {
    width: 100%;
    margin-left: 0px;
  }
  .work {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 0% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .work h1 {
    margin-bottom: 3% !important;
    margin-left: 0px;
    font-size: 180%;
  }
  .work-panel {
    height: 390px !important;
    margin: 2%;
    margin-left: 0;
    margin-right: 0;
  }
  .work svg {
    margin-top: -40% !important;
    margin-left: 33% !important;
    width: 75%;
    height: 75%;
  }
  .work .projectText {
    width: auto;
    height: auto;
    margin-top: -29% !important;
    margin-left: 58%;
    margin-bottom: 0;
    padding-left: 25px;
  }
  .work h2 {
    width: auto;
    margin: 0;
    font-size: 12px;
    letter-spacing: 0.435em;
    margin-bottom: 1%;
  }
  .work h3 {
    width: auto;
    margin-bottom: 3%;
    font-weight: 800;
    font-size: 22px;
  }
  .work .description {
    width: 90%;
    height: auto;
    margin-bottom: 3%;
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .work .project-cta {
    width: 40%;
    height: 35px;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
  }
  .work .feature-thumbnail {
    width: 50%;
    height: auto;
    margin-left: -0%;
    margin-top: 2% !important;
    margin-bottom: 0px;
  }
  .hireMe {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .hireMe h3 {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 2%;
    font-size: 140%;
  }
  .hire-cta {
    width: 20%;
    height: 40px;
    font-size: 90%;
    font-weight: 800;
    border-radius: 30px;
  }
  .about {
    height: 540px;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .about h1 {
    margin-bottom: 3%;
    margin-left: 0px;
    font-size: 180%;
  }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about p {
    height: 90%;
    margin-bottom: 0%;
    width: 45%;
    font-size: 90%;
    line-height: 24px;
    padding-left: 0px;
  }
  .about img {
    margin-bottom: 8%;
    width: 42% !important;
    padding: 0px;
  }
  .archive {
    padding-top: 6% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .archive-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 55px !important;
    padding-right: 40px;
    padding-left: 0px;
  }
  .archive h3 {
    margin-bottom: 10%;
    font-weight: 800;
    font-size: 22px;
  }
  .button-cta {
    width: 200px;
    height: 170%;
    font-size: 90%;
    font-weight: 800;
    border-radius: 30px;
  }
  .archive img {
    height: 22% !important;
    width: 22% !important;
    padding: 1%;
  }
  #footer {
    height: auto;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  #footer-text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 70% !important;
    width: 300px;
    text-align: center;
    padding: 0px;
  }
  .github-link {
    font-weight: 400;
    font-size: 100%;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
  .navbar {
    height: 75px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
  .container-fluid {
    padding: 0px;
  }
  .navbar-brand {
    margin-left: 0 !important;
    margin-right: 5% !important;
    font-size: 22px !important;
    line-height: 39px;
  }
  .nav-link {
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 16px;
  }
  .nav-icon {
    width: 7%;
    padding: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .box {
    height: 500px;
    padding-top: 0% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .box h1 {
    margin-bottom: 5% !important;
    margin-top: 0px !important;
    width: auto;
    font-size: 290% !important;
    padding-left: 0%;
  }
  .box p {
    width: auto;
    font-size: 100%;
    padding-left: 0%;
  }
  .pull-quote {
    opacity: 100 !important;
    margin-top: 65% !important;
    margin-left: -18% !important;
    height: auto;
    width: 120% !important;
  }
  .feature {
    margin-bottom: 0px;
    height: auto;
    padding-top: 7% !important;
    padding-bottom: 8% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .feature svg {
    margin-top: -35% !important;
    margin-left: 0px !important;
    width: 27%;
    height: 27%;
  }
  .feature .projectText {
    margin-top: -26% !important;
    padding-left: 5%;
    width: 40%;
  }
  .feature h2 {
    margin: 0;
    font-size: 14px !important;
    letter-spacing: 0.435em !important;
    margin-bottom: 1%;
  }
  .feature h3 {
    margin-bottom: 3% !important;
    font-size: 25px !important;
  }
  .feature .description {
    margin-bottom: 3%;
    font-size: 14px !important;
    line-height: 25px !important;
  }
  .project-cta {
    width: 40%;
    height: 40px;
    font-size: 14px;
    margin-top: 3%;
  }
  .feature-thumbnail {
    opacity: 100;
    width: 60%;
    height: 60%;
    margin-left: 46%;
    margin-top: -10% !important;
  }
  .skills {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .skills h1 {
    margin-bottom: 4%;
    margin-left: 0px;
    font-size: 220%;
  }
  .resume-cta {
    width: 22%;
    height: 50px;
    font-size: 110%;
    font-weight: 800;
    border-radius: 30px;
  }
  .skills-row {
    margin-bottom: 5% !important;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills-card {
    margin-bottom: 0px;
    padding: 5%;
    width: 32%;
    height: auto;
    border-radius: 20px;
  }
  .card-icon {
    font-size: 190% !important;
    margin-bottom: 8%;
  }
  .skills h2 {
    font-size: 100%;
    font-weight: 800;
    margin-bottom: 10%;
  }
  .skills img {
    width: 100%;
    margin-left: 0px;
  }
  .work {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 0% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .work h1 {
    margin-bottom: 3% !important;
    margin-left: 0px;
    font-size: 220%;
  }
  .work-panel {
    height: 450px !important;
    margin: 5%;
    margin-left: 0;
    margin-right: 0;
  }
  .work svg {
    margin-top: -40% !important;
    margin-left: 33% !important;
    width: 75%;
    height: 75%;
  }
  .work .projectText {
    width: auto;
    height: auto;
    margin-top: -28% !important;
    margin-left: 60%;
    margin-bottom: 0;
    padding-left: 25px;
  }
  .work h2 {
    width: auto;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.435em;
    margin-bottom: 1%;
  }
  .work h3 {
    width: auto;
    margin-bottom: 3%;
    font-weight: 800;
    font-size: 25px;
  }
  .work .description {
    width: 90%;
    height: auto;
    margin-bottom: 3%;
    font-size: 14px !important;
    line-height: 25px !important;
  }
  .work .project-cta {
    width: 40%;
    height: 40px;
    font-size: 14px;
    margin-top: 3%;
    font-weight: 600;
  }
  .work .feature-thumbnail {
    width: 50%;
    height: auto;
    margin-left: -0%;
    margin-top: 0% !important;
    margin-bottom: 0px;
  }
  .hireMe {
    margin-bottom: 0px;
    height: auto;
    padding-top: 2% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .hireMe h3 {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 2%;
    font-size: 25px;
  }
  .hire-cta {
    width: 18%;
    height: 50px;
    font-size: 110%;
    font-weight: 800;
    border-radius: 30px;
  }
  .about {
    height: 620px;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .about h1 {
    margin-bottom: 3% !important;
    margin-left: 0px;
    font-size: 220%;
  }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about p {
    height: 90%;
    margin-bottom: 0%;
    width: 45%;
    font-size: 100%;
    line-height: 30px;
    padding-left: 0px;
  }
  .about img {
    margin-bottom: 8%;
    width: 40% !important;
    padding: 0px;
  }
  .archive {
    padding-top: 6% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .archive-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 75px !important;
    padding-right: 40px;
    padding-left: 0px;
  }
  .archive h3 {
    margin-bottom: 10%;
    font-weight: 800;
    font-size: 25px;
  }
  .button-cta {
    width: 220px;
    height: 170%;
    font-size: 110%;
    font-weight: 800;
    border-radius: 30px;
  }
  .archive img {
    height: 22% !important;
    width: 22% !important;
    padding: 1%;
  }
  #footer {
    height: auto;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  #footer-text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 70% !important;
    width: 300px;
    text-align: center;
    padding: 0px;
  }
  .github-link {
    font-weight: 400;
    font-size: 100%;
  }
}

@media screen and (min-width: 1441px) {
  .navbar {
    height: 75px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
  .container-fluid {
    padding: 0px;
  }
  .navbar-brand {
    margin-left: 0 !important;
    margin-right: 5% !important;
    font-size: 20px !important;
    line-height: 39px;
  }
  .nav-link {
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 14px;
  }
  .nav-icon {
    width: 7%;
    padding: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .box {
    height: 500px;
    padding-top: 0% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .box h1 {
    margin-bottom: 5% !important;
    margin-top: 0px !important;
    width: auto;
    font-size: 290% !important;
    padding-left: 0%;
  }
  .box p {
    width: auto;
    font-size: 100%;
    padding-left: 0%;
  }
  .pull-quote {
    opacity: 100 !important;
    margin-top: 85% !important;
    margin-left: -40% !important;
    height: auto;
    width: 150% !important;
  }
  .feature {
    margin-bottom: 0px;
    height: 540px;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .skills {
    height: 800px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .work {
    margin-bottom: 0px;
    height: auto;
    padding-top: 5% !important;
    padding-bottom: 0% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .work h1 {
    margin-bottom: 3% !important;
    margin-left: 0px;
    font-size: 220%;
  }
  .work-panel {
    height: 450px !important;
    margin: 5%;
    margin-left: 0;
    margin-right: 0;
  }
  .work svg {
    margin-top: -40% !important;
    margin-left: 33% !important;
    width: 75%;
    height: 75%;
  }
  .work .projectText {
    width: auto;
    height: auto;
    margin-top: -28% !important;
    margin-left: 60%;
    margin-bottom: 0;
    padding-left: 25px;
  }
  .work h2 {
    width: auto;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.435em;
    margin-bottom: 1%;
  }
  .work h3 {
    width: auto;
    margin-bottom: 3%;
    font-weight: 800;
    font-size: 25px;
  }
  .work .description {
    width: 90%;
    height: auto;
    margin-bottom: 3%;
    font-size: 14px !important;
    line-height: 25px !important;
  }
  .work .project-cta {
    width: 40%;
    height: 40px;
    font-size: 14px;
    margin-top: 3%;
    font-weight: 600;
  }
  .work .feature-thumbnail {
    width: 50%;
    height: auto;
    margin-left: -0%;
    margin-top: 0% !important;
    margin-bottom: 0px;
  }
  .hireMe {
    margin-bottom: 0px;
    height: auto;
    padding-top: 2% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .hireMe h3 {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 2%;
    font-size: 190%;
  }
  .hire-cta {
    width: 22%;
    height: 50px;
    font-size: 110%;
    font-weight: 800;
    border-radius: 30px;
  }
  .about {
    height: 620px;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .about h1 {
    margin-bottom: 3% !important;
    margin-left: 0px;
    font-size: 220%;
  }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about p {
    height: 90%;
    margin-bottom: 0%;
    width: 45%;
    font-size: 100%;
    line-height: 30px;
    padding-left: 0px;
  }
  .about img {
    margin-bottom: 8%;
    width: 40% !important;
    padding: 0px;
  }
  .archive {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 110px;
    padding-right: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #footer {
    height: auto;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  #footer-text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 70% !important;
    width: 300px;
    text-align: center;
    padding: 0px;
  }
  .github-link {
    font-weight: 400;
    font-size: 100%;
  }
}

html {
  display: block;
  font-family: Poppins;
}

body {
  margin: 0 auto;
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 0px;
}

@media (min-width: 768px) {
  #nav-override {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row nowrap !important;
            flex-flow: row nowrap !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .navbar-expand-lg {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row nowrap !important;
            flex-flow: row nowrap !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  #nav-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
  }
}
/*# sourceMappingURL=style.css.map */