@import "components/_header.scss";
@import "components/_feature.scss";
@import "components/_work.scss";
@import "components/_skills.scss";
@import "components/_work.scss";
@import "components/_hireMe.scss";
@import "components/_about.scss";
@import "components/_archive.scss";
@import "components/_footer.scss";

//phone
$screen-sm-min: 360px;
@mixin sm {
    @media (min-width:#{$screen-sm-min}){
        @content;
    }
}

//tablet
$screen-md-min: 768px;
@mixin md {
    @media screen and (min-width:#{$screen-md-min}){
        @content;
    }
}

//laptop
$screen-lg-min: 1366px;
@mixin lg {
    @media screen and (min-width:#{$screen-lg-min}){
        @content;
    }
}

//desktop
$screen-xl-min: 1920px;
@mixin xl {
    @media screen and (min-width:#{$screen-xl-min}){
        @content;
    }
}

.navbar {
    height: 70px;
    background: #212121;
    padding-left: 120px;
    padding-right: 120px;

        //360px and less
        @include sm {
            height: 10px;
        }

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin:0 auto;
        margin-right: 45px;
        color:#FBF781;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 39px;
    }
    
    .nav-link {
        margin: 0 auto;
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        color:white;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    .nav-icon {
        height: 30px;
        width: 30px;
        padding-top:5px;
        padding:3px;
        margin-left: 10px;
        margin-right: 10px;
    }

}