
@import "_header.scss";
@import "_feature.scss";
@import "_work.scss";
@import "_skills.scss";
@import "_work.scss";
@import "_hireMe.scss";
@import "_about.scss";
@import "_archive.scss";
@import "_footer.scss";

.navbar {
    height: 70px;
    background: #212121;
    padding-left: 120px;
    padding-right: 120px;

    .container-fluid {
        padding: 0px;
    }

    .navbar-brand {
        margin:0 auto;
        margin-right: 45px;
        color:#FBF781;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 39px
    }

    .nav-link {
        margin: 0 auto;
        padding: 8px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        color:white;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    .nav-icon {
        height: 30px;
        width: 30px;
        padding-top:5px;
        padding:3px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


